<form style="width: 500px;">
  <div>
    <label for="name" class="form-label">Name:</label>
    <input type="text" id="name" class="form-control"/>
  </div>
  <div>
    <label for="email" class="form-label">Email:</label>
    <input type="email" id="email" class="form-control"/>
  </div>
  <div>
    <label for="message" class="form-label">Message:</label>
    <textarea id="message" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
