
<div class="row">
    <div class="col-6">
        <h3>{{ currentCustomer }}</h3>
        <br>
        <button class="btn btn-primary" (click)="onClick($event)">Click Me</button>
        <br>
        <button class="btn btn-secondary mt-5" [disabled]="isActive" (mouseover)="onMouseOver()">Hover Me</button>
      <br>
      <div class="btn btn-success mt-3" (click)="goToDirectives()">Go To Directives</div>

    </div>
    <div class="col-6">
        <h3>{{ word | currency}}</h3>
        <br>
        <input class="mt-5" (input)="onInputChange($event)" >
        <p>{{ currentCustomer }}</p>
    </div>
</div>
<!-- <div class="row mt-2">
    <div class="input-group mb-3">
        <input #inputValue type="text" class="form-control" [value]="inputString"  >
        <button class="btn btn-primary" (click)="onSubmit(inputValue.value)">Submit</button>
    </div>
    <h2>{{ inputString }}</h2>
</div> -->
<div class="row mt-2" style="background-color: cadetblue;">
    <div class="input-group mb-3 mt-3">
        <input type="text" class="form-control" [(ngModel)]="inputString">
    </div>
    <h2>{{ inputString }}</h2>
</div>


