<div class="row">
    <div class="col-6 pb-2" style="background-color: aqua;">
        <h2>Parent Side</h2>
        <br>
        <div class="list-group">
            <a class="list-group-item list-group-item-action" *ngFor="let mentor of mentors" (click)="onSelectMentor(mentor)">{{ mentor }}</a>
        </div>
    </div>
    <div class="col-6" style="background-color: chartreuse;">
        <h2>Child Side</h2>
        <br>
        <app-child [selectedMentor]="mentorSelected"></app-child>
    </div>
</div>
