<div class="row d-flex justify-content-center">
    <h5 class="text-center">This Component is not child of any other Component</h5>
    <div class="card" style="width: 10rem;">
      <img src="assets/images/403022_business man_male_user_avatar_profile_icon.png" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">Name</h5>
        <p class="card-text">Name will come from Service</p>
        <a class="btn btn-primary" (click)="onLikeMentor()">Like!</a>
      </div>
  </div>
</div>
